<nb-layout>

  <nb-layout-header subheader>
  <!-- Insert header here -->
  <a href="#" (click)="toggle()"> <nb-icon icon="menu"></nb-icon> </a>
  <img  src="/assets/img/white.png" height="64px" style="margin-right: 20px;margin-left:10px" >
  <h2 class="title">Table TreeVia</h2>
  </nb-layout-header>

  <nb-layout-column>


  <app-home></app-home>

  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  Designed with love for trivia and quality family time by Paolo Grimaldi. 2022
  </nb-layout-footer>

</nb-layout>
